frame-page{
    .header .toolbar:last-child .toolbar-background{
    border: none;
    background-color: #2fc8ff;
}
.toolbar-title{
    color: white;
    text-align: center;
}
    .mybuttons{
        ion-row{
            ion-col{
                display: flex;
                .btt{
                    margin: auto;
                    width: 80px;
                    text-transform: none;
                }
            }
        }
    }
    ion-content{
        .start{
            .startwork{
                 background-repeat: no-repeat;
                background-size: contain;
                height: 70px;
                width: 70px;
                display: inline-block;
                background-image: url("./../assets/vopros.png")
        }
            .pushing{
                font-size: 1.5em;
                    display: inline-block;
            }
        }
        
        .desccard{
            .desc{
                margin: 0;
                white-space: pre-wrap;
            }
        }
        .photos{
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
            display: -webkit-box;
            margin-bottom: 12px; 
            position: relative;
            .add{
                height: 100%;
                width: 80%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                .photoAdd{
                    height: 26.5vw;
                    width: 26.5vw;
                    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
                    text-align: center;
                .addBtt{
                    padding: 0;
                    width: 15vw;
                    height: 15vw;
                    margin: auto;
                background-repeat: no-repeat;
                background-position: center;
            }
            .index{
                font-size: 4vw;
                margin: 0;
               height: fit-content;
               margin: 2px;
                text-align: center;
            }
            .size{
                font-size: 4vw;
                margin: 0;
                height: fit-content;
                margin: 2px;
                text-align: center;
            }
                }
            }
            .count{
                width: 20%;
                display: flex;
                .countCenter{
                    width: fit-content;
                    height: fit-content;
                    margin: auto 0 auto 15%;
                    ion-label{
                        text-align: center;
                        margin: 0;
                        font-size: 2em;
                    }
                    .button{
                        margin: 0;
                        padding: 0;
                        height: 1.5em;
                        width: 1.5em;
                        ion-icon{
                            font-size: 2em;
                        }
                    }
                }
            }
            .close{
                position: absolute;
                padding: 0;
                margin: 2px;
                top: 0;
                right: 0;
                height: 1em;
                width: 1em;
            }
        }
    }
}