 <div class="myCard">
    <ion-card mode="md">
  <ion-card-content>
      <div class="cardactiv" (tap)="framedata.B=!framedata.B">
           <div class="orderphoto" [ngStyle]="{'background-image':'url(' + framedata.photo + ')'}"></div>
      <div class="labels">
          <ion-label class="name">{{framedata.name}}</ion-label>
          <ion-label class="anyinfo">Photos in frame: {{framedata.photocount}}</ion-label>
          <ion-label class="anyinfo">Price:${{framedata.price}} <ion-label class="del">+${{framedata.delivery}}delivery</ion-label></ion-label>
        </div>              
      </div>
     
               
           
     <button (tap)="openBasicModal()" mode="ios"  class="edit" ion-button>Swap</button>
  </ion-card-content>

</ion-card>
<ion-card mode="md" *ngIf="framedata.B" class="myCard2">
    <ion-card-content>
        <button (tap)="back()" class="leftbtt" ion-button><ion-icon name="md-arrow-dropleft-circle"></ion-icon></button>
        <button (tap)="next()" class="rightbtt" ion-button><ion-icon name="md-arrow-dropright-circle"></ion-icon></button>
       <ion-slides>
  <ion-slide *ngFor="let photo of framedata.photos" [ngStyle]="{'background-image':'url(' + photo + ')'}">
  </ion-slide>
</ion-slides>
    </ion-card-content>
</ion-card>
</div>