page-home {
.header .toolbar:last-child .toolbar-background{
    border: none;
    background-color: #2fc8ff;
}
.bar-button-default, .bar-button-default.bar-button-default, .bar-button-clear-default{
    background-image: url("./../assets/profile.jpg");
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.toolbar-title{
    color: white;
    text-align: center;
}
ion-content{
.myheader{
    height: 20%;
    background: #2fc8ff;
    position: relative;
 ion-searchbar{
    position: absolute;
    bottom: -22px;
    border: none;
    background: none;
    .searchbar-input{
        height: 5rem;
        border-radius: 100px;
        box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
    }
    .searchbar-search-icon{
        margin-top: auto;
        margin-bottom: auto;
        top: 0;
        bottom: 0;
    }
}
}
.mycards{
    height: fit-content;
    margin-top: 38px;
.myCard{
    margin: 16px;
    height: 40vw;
    border-radius: 10px;
    background-image: url('./../assets/1.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .cardname{
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: rgba(0,0,0,0.4);
        height: 30%;
        display: flex;
        align-items: center;
        ion-label{
            margin: 0;
            width: fit-content;
            height: fit-content;
            text-align: center;
            color:white;
       }
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}
}

    
}
}
